extends layout

block content
  .w3-container
    .w3-card-4
    header.w3-container.w3-teal.w3-margin-top
      h2 Gestão de Filmes
    .w3-card-4
      ul.w3-ul
        li
          a(href="http://localhost:3711/filmes") Listagem de Filmes
        li
          a(href="http://localhost:3711/filmes/inserir") Inserir Filme
